*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
body {
    background: #B2B2AC;
    back
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    float:left
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:40px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*header .logo {
    color: #B78A5F ;
    font-size: 2em;
    text-decoration: none;
    background-color: FBFAFA;
    padding: 0 10px;
    font-family:'Cambo', serif ;
    font-weight: 600px;
}*/
header .navbar {
    position: relative;
    display: flex;
}
header .navbar li{
    list-style-type: none;
    margin-left: 30px;
}
header .navbar li a {
    text-decoration: none;
    font-weight: 900px;
    padding: 10px;
    transform: 0.3s;
    font-size: 1.2em;
    color:#44454E
}
header .navbar li a:hover {
    color: #FBFAFA;
    background-color: #AF6956;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
}
.container .contentBox {
    position: relative;
    /*max-width: 700px;*/
}
.container .contentBox h2 {
    font-size: 4.0em;
    text-transform: uppercase;
    color:#B78A5F;
    line-height: 1.3;
}
.container .contentBox h2 .name {
    background: #B78A5F;
    color: #B2B2AC;
    padding: 0 10px;
    font-family: 'Cambo' , serif;
    font-weight: 600;
}
.container .contentBox p{
    font-size: 1.4em;
    line-height: 1.5;
    color: #44454E;
    font-family: "Cambo", serif;
    margin-bottom: 28px;
}
.container .skills a {
    text-decoration: none;
    background: #B78A5F;
    color:#44454E;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 2px;
    transition: 0.3s;
}
.container .skills a:hover {
    color: #FBFAFA;
    background-color: #AF6956;
}

.container .skills h2 {
    font-size: 4.0em;
    text-transform: uppercase;
    color:#B78A5F;
    line-height: 1.3;
}
.container .skills h2 .titleSkills {
    background: #B78A5F;
    color: #B2B2AC;
    padding: 0 10px;
    font-family: 'Cambo' , serif;
    font-weight: 600;
}
.skills {
    float: left;
}
.skills li{
    margin-left: 30px;
    font-size: 1.4em;
    color: #44454E;
    font-family: "Cambo", serif;
    margin-bottom: 2px;
}
.footer {
    float: left;
}
.container .footer p {
    font-size: 1.4em;
    line-height: 1.5;
    color: #44454E;
    font-family: "Cambo", serif;
    margin-bottom: 28px;
}